/*body----------------------------------------------------*/
body{
	font-family: 'Padauk', sans-serif;
	color: #1B1B1B;
}
a{
	text-decoration: none;
	color: #1B1B1B;
}
.master-flex img{
	object-fit: none; 
  	object-position: center;
  	height: 330px;
  	width: 100%;
}
/*header--------------------------------------------*/

.top-flex{
	width: 100%;
	position: relative;
}
.burger{
	display: none;
}

.cart-img{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.head-flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
/*.top-flex{
	display:flex;
	flex-direction: row;
}*/
.top-flex-1{
	width: 100%;
	font-size: 10px;
	text-align: center;
	padding-bottom: 25px;
}
.top-flex-1 h1{
	font-weight:bold;
}
.top-flex-2{
	width: 3%;
	align-items: left;
	padding-top: 10px;
}

.menu-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.menu-flex div{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 15px;
}

.menu-flex a:hover{
	border-bottom: solid 2px #1B1B1B;
}

/* main ----------------------------------------------------------------------------------*/
.master-flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.master-flex h2{
	font-weight: normal;
	font-size: 20px;
	margin-top: 35px;
	margin-bottom: 30px;
}
.master-flex h3{
	font-weight: normal;
	font-size: 16px;
	border:solid 2px #1B1B1B;
	width: 160px;
	padding-bottom: 7px;
	padding-top: 7px;
	display: block;
	margin: auto;
	margin-bottom: 50px;
}

.t-shirt{
	display: flex;
	flex-direction: row;
}
.t-shirt div{
	width: 50%;
}

/* item flex designing--------------------------------------------------------------------------------*/
.item-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.item-flex div{
	text-align: center;
	width: 33.33%;
	min-width: 250px;	
}
.item-flex h3{
	padding-bottom: 2px;
}
.item-flex h3:hover{
	border-bottom: solid 2px #1B1B1B;
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
}

/* configure page--------------------------------------------------------------------------*/
.main-configuration{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 60px;
}
.item-detail h1{
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 0;
}
.price{
	font-size: 20px;
	border-bottom: solid 1px #d3d3d3;
	padding-bottom: 30px;
	margin-top: 0;
	padding-top: 0;
	color: #919191;
	margin-bottom: 0;
}
.main-label{
	width: 100%;
	border-bottom: solid 1px #d3d3d3;
	padding-bottom: 12px;
	padding-top: 12px;
}
label{
	width: 20%
	font-size:20px;
	color: #919191;
	padding-right: 30px;
}
#dropdown{
	width:80%; 
	border: 0;
	outline: 0;
}
.quantity{
	font-size: 15px;
	padding-right: 6px;	
}

.item-detail h3{
	font-size: 15px;
}
.color-defination{
	color: #909090;
	font-size: 15px;
}
.cart-button{
	font-weight: normal;
	font-size: 16px;
	border:solid 2px #1B1B1B;
	width: 180px;
	text-align: center;
	margin-top: 30px;
	padding: 0;
}
.cart-button h3{
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* cart design---------------------------------------------------------------------------*/
.main-cart{
	max-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}
.main-cart p{
	text-align: center;
	font-size: 13px;
	color: #919191;
	margin: 0;
}
.main-cart h2{
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}
.flex-1{
	display: flex;
	flex-direction: row;
	float: left;
	margin-left: 20px;
	margin-bottom: 0;
}
.flex-1 img{
	width: 65px;
	height: 65px;

}
.flex-1 h3{
	vertical-align: middle;
	font-weight: normal;
	font-size: 16px;
	padding-left: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.space{
	padding-top: 30px;
}

.flex-2{
	display: flex;
	flex-direction: row;
	float: right;
	padding-top: 20px;
	padding-left: 40px;
	margin-right: 20px;
}
.new-label{
	border: 0;
	outline: 0;
	margin-right: 30px;
}
.cart-size{
	margin-right: 20px;
	font-size: 20px;
	font-weight: normal;
}
.flex-3{
	display: flex;
	flex-direction: row;
	float: right;
	justify-content: flex-end;
	margin-right: 20px;	
}
.flex-3 div{
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.check-out{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border: solid 2px #1B1B1B;
}

/*checkout----------------------------------------------------------------------------------*/

.head-check{
	text-align: center;
	font-weight: normal;
}
.check-flex{
	display: flex;
	flex-direction: row;
	width: 900px;
	justify-content: center;
	margin: auto;
	font-weight: bold;
}
.left{
	width: 50%;
}
.right{
	width: 50%;
}
input{
	width: 90%;
	height: 30px;
	font-style: 20px;
	padding-top: 20px;
	border: 0;
	outline: 0;
	border-bottom: solid 1px #919191;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
 }
 .left div{
 	padding-top: 20px;
 }
 .left label{
 	font-weight: normal;
 	color: #1B1B1B;
 }
 .left select{
 	width: 90%;
 	font-size: 18px;
 	padding-top: 10px;
 	border:0;
 	outline: 0;
 	font-weight: normal;
 	border-bottom: solid 1px #919191;
 	padding-bottom: 7px;
 }
 .left h3{
 	font-size: 15px;
 	padding-top: 20px;
 }
 .tick-box{
 	width: 20px;
 	margin-top: 0;
 	float: left;
 	background: #1B1B1B;
 }
 .new-address{
 	padding-top: 4px;
 	display: block;
 }


 .right div{
 	padding-top: 20px;
 }
 .right label{
 	font-weight: normal;
 	color: #1B1B1B;
 }
 .card-detail{
 	display: flex;
 	flex-direction: row;
 	width: 100%;
 	justify-content: center;
 	align-self: center;
 }

 .right select{
 	width: 30%;
 	font-size: 18px;
 	padding-top: 10px;
 	border:0;
 	outline: 0;
 	font-weight: normal;
 	border-bottom: solid 1px #919191;
 	padding-bottom: 7px;
 	margin-right: 10px;
 }
.cvv{
 	width: 77%;
 	font-size: 18px;
 	padding-top: 10px;
 	border:0;
 	outline: 0;
 	font-weight: normal;
 	border-bottom: solid 1px #919191;
 	padding-bottom: 7px;
 	margin-right: 10px;
 }
 .summary{
 	font-size: 17px;
 	padding-top: 0;
 }
 .sum-name{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	padding-top: 0;
 	margin-top: 0;
 }
 .sum-name div{
 	margin-right: 50px;
 	margin-top:0;
 	padding-top: 0;
 	font-weight: normal;
 }
 .sum-price{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 }
 .sum-price div{
 	margin-right: 50px;
 	font-weight: normal;
 	padding-top: 30px;
 }
 .place-button{
 	border: solid 2px #1B1B1B;
 	font-size: 17px;
 	font-weight: normal;
 	width: 180px;
 	text-align: center;
 	padding-top: 4px;
 	padding-bottom: 4px;
 	margin-top: 30px;
 }


 .country{
 	margin-top: 20px;
 }

 .yes{
 	display: none;
 	padding-bottom: 50px;
 }

 /* responsive----------------------------------------------------------------------------------*/
 
 @media screen and (max-width: 800px){
 	body{
 		max-width: 700px;
 		margin: auto;
 	}
 	.master-flex img{
		object-fit: cover;
		object-position: center;
		height: 200px;
	  	width: 100%;
 	}
 	/*cart*/
 	.flex-1{
 		padding-bottom: 10px;
 	}
 	.flex-2{
		padding-top: 10px;
	}
	.burger{
		height: 30px;
		width: 30px;
		top: 10px;
		left: 10px;
		position: absolute;
		display: inline-block;
	}

	/*------drawer------------------------------------------------------*/
	.menu-flex {
		background-color: #333;
		position: fixed;
  		top: -50px;
  		width: 100%;
  		transition: top 0.3s;
  		flex-direction: column;
  		display: none;
	}
	.menu-flex a {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 15px;
		text-decoration: none;
	}
	.menu-flex a:hover {
  		background-color: #ddd;
  		color: black;
	}

	.main-configuration{
		flex-direction: column;
		justify-content: center;
		align-self: center;
	}
	.item-img{
		justify-content: center;
		width: 80%;
		margin: auto;
	}
	.item-img img{
		width: 100%;
		height: 100%;
	}
	.item-detail{
		width: 80%;
		align-self: center;
		font-size-adjust: unset;
	}

	.check-flex{
		flex-direction: column;
		width: 80%;
	}
	.left{
		width: 100%;
	}
	.right{
		width: 100%;
	}
	.left input{
		width: 100%;
	}
	.right input{
		width: 100%
	}
	.item-flex{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
	}
	.item-flex div{
		width: 50%;
	}
	.item-flex img{
		width: 100%;
	}
 }